html, body {
  font-family: Garamond, serif;
  background-image:url("/static/japanese-culture-japanese-language-school-263902.png");
  background-size: 518px;
}
.btn {
  font-family: Helvetica;
  padding-top: 9px;
}
table , input , select {
  font-family: helvetica;
  padding-top: 3px;
  color:#3f4548;
}
select {
  padding-top: 5.5px;
}
#image-ad-c {
  padding-left: 4px;
  max-width: 90%;
}
.form-control::placeholder {
  font-size: 14px;
}
.popup-content {
  font-family: monospace !important;
  font-size: 18px;
  font-weight: bold;
}
::file-selector-button {
  padding-top: 4px;
  color: #3f4548;
}

a{
  text-decoration: none;
  color:#608cbb;
}
a:hover {
  color: #2c73db;
}
.all-link a {
  color: #2c5f95;
  font-weight: bold;
  font-size: 28px;
}
.all-link a:hover {
  // text-decoration: underline;
  color: #2a537d;
}
h2 {
  display: inline;
  font-size: 35px;
}
#user-container , #all-container{
  & > h2{
    padding-left: 1vw;
  }
}
h1 {
  font-size: 40.5px;
  line-height: 38px;
}

#donation {
  font-family: Helvetica;
  font-size: 15px;
  padding: 14px 23px;
  padding-bottom: 10px;
	word-wrap: anywhere;
}

.main-container {
  max-width: 950px;
  background-image:url("/static/pngegg.png");
  background-size: 320px;
}
.upper-container {
  background-color: #ffffffc7;
}
.basic-form{
  height:max-content;
}